<div class="weatherWidget">
	{{#each partials.weather.locations}} 
		<div class="location">
			<h3>{{name}}</h3>
			<a href="{{forecastUrl}}"></a> 
		</div>
		<img src="{{iconUrl}}" alt="{{weather}}">
		{{weather}}, {{temp}}
	￼{{/each}}
	<small>Source: <a href="http://www.wunderground.com">Weather
Underground</a></small>
</div>